@import "mixins";

*{
    font-family: Nunito, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .loader{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        position: absolute;
        top:  20vh;
        @include Media(960px){
            top: 6vh;
        }
    }
    .circle{
        height: 20px;
        width: 20px;
        background-color: rgb(0, 171, 228);
        margin: 0 10px;
        border-radius: 50%;
        animation: animate 2s infinite linear;
        &:nth-child(1){
            animation-delay: 0.5s;
        }
        &:nth-child(2){
            animation-delay: 1s;
        }
        &:nth-child(3){
            animation-delay: 1.5s;
        }
        
    
    }

    @keyframes animate {
        0%,
        100%{
        transform: translateY(5px);
        }

        50%{
            transform: translateY(-25px);
        }

    }



    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;

        .item{
            margin: 10%;
            padding: 1.5rem;
            width: 40%;
        }

        .item-1{
            flex-grow: 1;
            text-align: center;
            h1{
                font-size: clamp(1.7rem, 2vw , 4rem);
            }
            p{
                font-size: clamp(1.3rem, 1.8vw, 3rem);
            }
        }
        .item-2{
            flex-grow: 1;
            img{
                max-width: 100%;
            }
        }

        @include Media(960px){
            flex-direction: column;
            padding-top: 10vh;
            .item{
                width: 90%;
                margin: 0;
            }
        }
    }


    footer{
        height: 10vh;
        margin: 0 auto;
        background-color: rgb(0, 0, 0);
        color: white;
        font-size: clamp(0.8rem, 2vw, 1.4rem);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5vh;
        @include Media(960px){
            flex-direction: column;
        }
        i{
            color: red;
        }
    }
