* {
  font-family: Nunito, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  position: absolute;
  top: 20vh;
}
@media screen and (max-width: 960px) {
  .loader {
    top: 6vh;
  }
}

.circle {
  height: 20px;
  width: 20px;
  background-color: rgb(0, 171, 228);
  margin: 0 10px;
  border-radius: 50%;
  -webkit-animation: animate 2s infinite linear;
          animation: animate 2s infinite linear;
}
.circle:nth-child(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.circle:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.circle:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes animate {
  0%, 100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

@keyframes animate {
  0%, 100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
}
.container .item {
  margin: 10%;
  padding: 1.5rem;
  width: 40%;
}
.container .item-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}
.container .item-1 h1 {
  font-size: clamp(1.7rem, 2vw, 4rem);
}
.container .item-1 p {
  font-size: clamp(1.3rem, 1.8vw, 3rem);
}
.container .item-2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.container .item-2 img {
  max-width: 100%;
}
@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10vh;
  }
  .container .item {
    width: 90%;
    margin: 0;
  }
}

footer {
  height: 10vh;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: clamp(0.8rem, 2vw, 1.4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5vh;
}
@media screen and (max-width: 960px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer i {
  color: red;
}