@import "mixins";

*{
    font-family: Nunito, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    .loader{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        position: absolute;
        top: 10vh;
    }
    .circle{
        height: 20px;
        width: 20px;
        background-color: deepskyblue;
        margin: 0 10px;
        border-radius: 50%;
        animation: animate 2s infinite linear;
        &:nth-child(1){
            animation-delay: 0.5s;
        }
        &:nth-child(2){
            animation-delay: 1s;
        }
        &:nth-child(3){
            animation-delay: 1.5s;
        }
    }

    @keyframes animate {
        0%,
        100%{
        transform: translateY(5px);
        }

        50%{
            transform: translateY(-25px);
        }
    }


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    max-width: 1300px;

    .item-1{
        width: 48%;
        max-width: 300px;
        h1{
            padding: 10px;
            margin-bottom: 1rem;
            text-align: center;
        }
        p{
            margin-bottom: 2rem;
            text-align: center;
        }
    }

    .item-2{
        width: 48%;
        display: flex;
        justify-content: center;
        img{
            width: min(100%,300px);
            margin: 0 auto;
        }
    }

    @include Media(900px){
    flex-direction: column;
    }

}